/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    font-size: 16px; /* Basis-Schriftgröße */
    scroll-behavior: smooth;
  }
  body {
    background-color: #0d0d0d;
    color: #ffffff;
    line-height: 1.8;
    letter-spacing: 0.6px;
  }
  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
  }
  a:hover {
    color: #a855f7;
  }
  button {
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
  }
  button:hover {
    transform: scale(1.08);
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    html {
      font-size: 14px; /* Kleinere Schriftgröße für mobile Geräte */
    }
  }

  @media (max-width: 480px) {
    html {
      font-size: 12px; /* Noch kleinere Schriftgröße für sehr kleine Geräte */
    }
  }
}

@layer components {
  .rounded-lg {
    border-radius: 1rem;
  }

  .shadow-lg {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
}