@keyframes gradient-border {
  0% {
    border-color: rgba(128, 90, 213, 0.5);
  }
  50% {
    border-color: rgba(168, 85, 247, 1);
  }
  100% {
    border-color: rgba(128, 90, 213, 0.5);
  }
}

@keyframes box-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-gradient-border {
  animation: gradient-border 3s infinite;
}

.animated-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animated-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(168, 85, 247, 0.5);
}

.animated-icon {
  animation: icon-spin 5s linear infinite;
}

.snake-animation {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.snake-animation::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #6b46c1, #805ad5, #9f7aea, #6b46c1);
  background-size: 400% 400%;
  z-index: -1;
  animation: snake 4s linear infinite;
}

@keyframes snake {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-50%);
  }
  75% {
    transform: translateX(0) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
